<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <saveItem help="Processors should derive from Sitecore.Pipelines.ItemProvider.SaveItem.SaveItemProcessor.">
            <processor type="Sitecore.Support.Pipelines.ItemProvider.SaveItem.EnsureVersionExists, Sitecore.Support.13657" resolve="true" patch:instead="processor[@type='Sitecore.Pipelines.ItemProvider.SaveItem.EnsureVersionExists, Sitecore.Kernel']"/>
          </saveItem>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>